* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
/* --------- basics */
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
html {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 24px;
}

h3 {
  font-size: 38px;
  font-weight: 600;
}
h4 {
  font-size: 19px;
  font-weight: 700;
}
h5 {
  font-size: 52px;
  font-weight: 700;
  color: #ddd;
}
@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translateY(100px);
  }
}

/* ---------- header */
header {
  height: 80vh;

  /* transition: all 10s 0s ease-in-out;
 */
}
header img {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}

header img:nth-of-type(2) {
  animation: move 3s ease-in-out infinite;
}

h1 {
  font-size: 54px;
}
header p:first-of-type {
  font-size: 12px;
  font-weight: 400;
}
header div .challengetext {
  font-size: 18px;
  font-weight: 300;
}
header div .challengetext::after {
  content: url(../img/rocket.png);
}

header a {
  margin-top: 10%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff3571;
}
header div:first-of-type {
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 20%;
}
header div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
  width: 500px;
  margin-left: 100px;
}

/* ------------ main */
.example-img {
  width: 100vw;
  margin-top: 20%;
  margin-bottom: 20%;
}
/* -------------- section idea */

/* section.idea {
  height: 20%;
} */
.idea h3:first-of-type:after {
  content: url(../img/idea.png) "starts with a need";
}
.idea div:first-of-type {
  width: 300px;
  margin-left: 10%;
}
.idea div:last-of-type {
  width: 600px;
  margin-left: 35%;
  margin-top: -150px;
}
.idea div:nth-of-type(2) p {
  font-size: 18px;
  font-weight: 300;
}
div.thinking {
  margin-top: 15%;
  margin-left: 20%;
  margin-bottom: 15%;
  width: 50%;
}

/* -------- section grid */

.gridd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
  margin: 0 10% 0 10%;
}
.gridd div:nth-of-type(1) h4::before {
  content: url(../img/title01.svg);
  display: inline-block;
  width: 40px;
  height: 40px;
}
.gridd div:nth-of-type(2)::before {
  content: url(../img/title02.svg) attr(x) attr(y);
  display: inline-block;
  width: 40px;
  height: 40px;
}
.gridd div:nth-of-type(3)::before {
  content: url(../img/title03.svg) attr(x) attr(y);
  display: inline-block;
  width: 40px;
  height: 40px;
}
.gridd div:nth-of-type(4)::before {
  content: url(../img/title04.svg) attr(x) attr(y);
  display: inline-block;
  width: 40px;
  height: 40px;
}

.ready {
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.ready p {
  width: 40%;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

/* -------- section process */

.process {
  /* margin-left: 10%; */
}

.process img {
  width: 40%;
}
.process article {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.process div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.process article img {
  width: 40px;
}
.process article p {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

/* ----------- footer */

footer {
  margin-top: 10%;
  text-align: center;
}
footer h3 {
  margin-bottom: 3%;
}
.shadow {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px 100px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 30px black;
}
input::placeholder {
  font-size: 15px;
}

input[type="submit"] {
  background-color: #ff3571;
  color: white;
  border: 1px solid black;
  padding: 20px 100px;
  border-radius: 10px;
  margin-bottom: 10%;
}
footer p:last-of-type {
  display: inline-block;
  margin-left: -900px;
}
